<header>
  <nav>
    <ul class="nav-list">
      <li><a href="/">AirCNC</a></li>
      <li><a href="/viviendas">Propiedades</a></li>
      <li *ngIf="userProfile"><a href="/profile">Editar Perfil</a></li>
      <li *ngIf="userProfile" (click)="logout()">Cerrar sesión</li>
    </ul>
  </nav>
  
  <!-- Mostrar el nombre del usuario y el mensaje de bienvenida -->
  <div *ngIf="userProfile" class="welcome-message">
    <p>Bienvenido, {{ userProfile.nombre }}</p>  <!-- Aquí mostramos el nombre del usuario -->
  </div>
</header>
