<div class="destination" *ngIf="vivienda">
    <!-- Imagen principal -->
    <img [src]="vivienda.fotoPrincipal" alt="{{vivienda.ciudad}}" *ngIf="vivienda.fotoPrincipal">

    <!-- Información detallada -->
    <ul>
        <li>País: {{vivienda.pais}}</li>
        <li>Ciudad: {{vivienda.ciudad}}</li>
        <li>Dirección: {{vivienda.direccion}}</li>
        <li>Precio por noche: {{vivienda.precioNoche}}</li>
        <li>Número de habitaciones: {{vivienda.habitaciones}}</li>
        <li>Baños: {{vivienda.banos}}</li>
        <li>Capacidad máxima: {{vivienda.capacidadMaxima}}</li>
        <li>Descripción: {{vivienda.descripcion}}</li>
    </ul>

    <!-- Galería de fotos adicionales -->
    <div *ngIf="vivienda.fotos && vivienda.fotos.length > 0">
        <h3>Imágenes Subidas</h3>
        <div *ngFor="let foto of vivienda.fotos">
          <img *ngIf="isValidImage(foto)" [src]="foto" alt="Foto de la propiedad" width="200px" height="auto">
        </div>
    </div>                   
</div>
