<app-header></app-header>

<main>
    <!-- Hero Image Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Encuentra tu próximo hogar lejos de casa</h1>
            <form (submit)="buscarViviendas($event)" class="search-form">
                <input [(ngModel)]="query" name="query" type="text" placeholder="¿A dónde vas?">
                <input type="date" placeholder="Fecha de llegada">
                <input type="date" placeholder="Fecha de salida">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </section>



    <!-- Destinos Populares Section -->
    <section class="popular-destinations">
        <h2>Destinos populares</h2>
        @for (vivienda of (obetenerViviendas()); track $index) {
        <div class="destination" (click)="verDetalles(vivienda.id)">
            <!-- Imagen principal -->
            <img src="{{vivienda.fotos[0]}}" alt="{{vivienda.ciudad}}">

            <!-- Información detallada -->
            <ul>
                <li>País: {{vivienda.pais}}</li>
                <li>Ciudad: {{vivienda.ciudad}}</li>
                <li>Dirección: {{vivienda.direccion}}</li>
                <li>Precio por noche: {{vivienda.precioNoche}}</li>
                <li>Número de habitaciones: {{vivienda.numeroDeHabitaciones}}</li>
                <li>Baños: {{vivienda.banos}}</li>
                <li>Capacidad máxima: {{vivienda.capacidadMaxima}}</li>
                <li>Descripción: {{vivienda.descripcion}}</li>
            </ul>

            <!-- Galería de fotos adicionales
            <div class="gallery">
                <h3>Fotos adicionales:</h3>
                <img *ngFor="let foto of vivienda.fotos; let i = index" [src]="foto" [alt]="'Foto ' + (i + 1)">
            </div> -->

            <!-- Botones de acciones -->
            <div>
                <button (click)="eliminarVivienda(vivienda.id)">Eliminar</button>
                <button (click)="actualizarVivienda(vivienda.id)">Actualizar</button>
            </div>
        </div>
        }@empty {
        <li> No hay viviendas disponibles</li>
        }

    </section>

    <!-- Propiedades Destacadas Section -->
    <section class="featured-properties">
        <h2>Propiedades destacadas</h2>
        <div class="properties-grid" >
            @for (vivienda of (viviendasDestacadas()); track $index) {
            <div class="destination" (click)="verDetalles(vivienda.id)">
                <img src={{vivienda.fotos[0]}} alt={{vivienda.ciudad}}>
                <ul>
                    <li>"País:"{{vivienda.pais}}</li>
                    <li>"Ciudad:"{{vivienda.ciudad}}</li>
                    <li>"direccion:"{{vivienda.direccion}}</li>
                    <li>"precio x noche:"{{vivienda.precioNoche}}</li>
                </ul>
            </div>
            }@empty {
            <li> No hay viviendas disponibles</li>
            }

        </div>
    </section>

    <!-- Testimonios Section -->
    <section class="testimonials">
        <h2>Lo que dicen nuestros huéspedes</h2>
        <div class="testimonial">
            <p>"¡Una experiencia increíble! La casa era hermosa y el anfitrión fue muy amable."</p>
            <p>- Juan P.</p>
        </div>
        <div class="testimonial">
            <p>"El mejor lugar en el que me he hospedado, ¡sin duda alguna!"</p>
            <p>- María G.</p>
        </div>
    </section>
</main>