<app-header></app-header>

<main>
    <!-- Hero Image Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Encuentra tu próximo hogar lejos de casa</h1>
            <form (submit)="buscarViviendas()" class="search-form">
                
                
                <div class="form-group">
                    <label for="elementos">En orden de:</label>
                    <select id="elementos" [(ngModel)] = "seleccion" name="seleccion">
                        <option disabled selected>Seleccione una opción</option>
                        @for (elemento of ordenar; track $index) {
                            <option [value]="elemento">{{elemento}}</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="query">Destino</label>
                    <input [(ngModel)]="query" name="query" type="text" placeholder="¿A dónde vas?">
                </div>
    
                <div class="form-group">
                    <label for="minPrecio">Precio mínimo por noche</label>
                    <input [(ngModel)]="minPrecio" id="minPrecio" name="minPrecio" type="number">
                </div>
    
                <div class="form-group">
                    <label for="maxPrecio">Precio máximo por noche</label>
                    <input [(ngModel)]="maxPrecio" id="maxPrecio" name="maxPrecio" type="number">
                </div>
    
                <div class="form-group">
                    <label for="habitaciones">Cantidad de habitaciones</label>
                    <input [(ngModel)]="habitaciones" id="habitaciones" name="habitaciones" type="number"
                        placeholder="Número de habitaciones">
                </div>
    
                <div class="form-group">
                    <label for="fechaLlegada">Fecha de llegada</label>
                    <input type="date" name="fechaLlegada" placeholder="Fecha de llegada">
                </div>
    
                <div class="form-group">
                    <label for="fechaSalida">Fecha de salida</label>
                    <input type="date" name="fechaSalida" placeholder="Fecha de salida">
                </div>
    
                <button type="submit">Buscar</button>
            </form>
        </div>
    </section>



    <!-- Destinos Populares Section -->
    <section class="popular-destinations">
        <h2>Destinos populares</h2>
        @for (vivienda of (obetenerViviendas()); track $index) {
        <div class="destination" (click)="verDetalles(vivienda.id)">
            <!-- Imagen principal -->
            <img src="{{vivienda.fotos[0]}}" alt="{{vivienda.ciudad}}">

            <!-- Información detallada -->
            <ul>
                <li>País: {{vivienda.pais}}</li>
                <li>Ciudad: {{vivienda.ciudad}}</li>
                <li>Dirección: {{vivienda.direccion}}</li>
                <li>Precio por noche: {{vivienda.precioNoche}}</li>
                <li>Número de habitaciones: {{vivienda.habitaciones}}</li>
                <li>Baños: {{vivienda.banos}}</li>
                <li>Capacidad máxima: {{vivienda.capacidadMaxima}}</li>
                <li>Descripción: {{vivienda.descripcion}}</li>
            </ul>

            <!-- Galería de fotos adicionales
            <div class="gallery">
                <h3>Fotos adicionales:</h3>
                <img *ngFor="let foto of vivienda.fotos; let i = index" [src]="foto" [alt]="'Foto ' + (i + 1)">
            </div> -->

            <!-- Botones de acciones -->
            <div>
                <button (click)="eliminarVivienda(vivienda.id)">Eliminar</button>
                <button (click)="actualizarVivienda(vivienda.id)">Actualizar</button>
            </div>
        </div>
        }@empty {
        <li> No hay viviendas disponibles</li>
        }

    </section>

    <!-- Propiedades Destacadas Section -->
    <section class="featured-properties">
        <h2>Propiedades destacadas</h2>
        <div class="properties-grid">
            @for (vivienda of (viviendasDestacadas()); track $index) {
            <div class="destination" (click)="verDetalles(vivienda.id)">
                <img src={{vivienda.fotos[0]}} alt={{vivienda.ciudad}}>
                <ul>
                    <li>"País:"{{vivienda.pais}}</li>
                    <li>"Ciudad:"{{vivienda.ciudad}}</li>
                    <li>"direccion:"{{vivienda.direccion}}</li>
                    <li>"precio x noche:"{{vivienda.precioNoche}}</li>
                </ul>
            </div>
            }@empty {
            <li> No hay viviendas disponibles</li>
            }

        </div>
    </section>

    <!-- Testimonios Section -->
    <section class="testimonials">
        <h2>Lo que dicen nuestros huéspedes</h2>
        <div class="testimonial">
            <p>"¡Una experiencia increíble! La casa era hermosa y el anfitrión fue muy amable."</p>
            <p>- Juan P.</p>
        </div>
        <div class="testimonial">
            <p>"El mejor lugar en el que me he hospedado, ¡sin duda alguna!"</p>
            <p>- María G.</p>
        </div>
    </section>
</main>