/* Header */
header {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 36px;
    color: #FF385C;
    margin: 0;
}

footer p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
}

/* Login Box */
.login-box {
    background-color: #ffffff;
    padding: 40px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.login-box h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
}

.input-text {
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input-text:focus {
    border-color: #FF385C;
    outline: none;
}

.password, .confirmar-password {
    position: relative;
    display: flex;
    align-items: center;
}

.password input, .confirmar-password input {
    flex: 1;
    padding-right: 50px; /* Deja espacio para el botón "Ver contraseña" */
}

.password button, .confirmar-password button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #FF385C;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.password button:hover, .confirmar-password button:hover {
    color: #e02d50;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: #FF385C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
}

button[type="submit"]:hover {
    background-color: #e02d50;
}


/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    .login-box {
        padding: 30px 20px;
    }

    .login-box h2 {
        font-size: 24px;
    }

    .password input, .confirmar-password input {
        padding-right: 45px; /* Ajuste del tamaño del input en pantallas más pequeñas */
    }

    .password button, .confirmar-password button {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    .login-box {
        padding: 20px 15px;
    }

    .login-box h2 {
        font-size: 20px;
    }

    .input-text, button[type="submit"] {
        font-size: 14px;
    }

    .password input, .confirmar-password input {
        padding-right: 40px; /* Ajuste del tamaño del input en pantallas muy pequeñas */
    }

    .password button, .confirmar-password button {
        font-size: 12px; /* Reducir el tamaño del texto en el botón "Ver contraseña" */
        right: 5px; /* Ajustar posición del botón para pantallas pequeñas */
    }

    .secondary {
        font-size: 12px;
    }

}
