<header>
    <h1>Gestión de Propiedades</h1>
</header>

<main>
    <div class="management-box">
        <h2>Administrar propiedades</h2>
        <form (ngSubmit)="onManage()">
            <input [(ngModel)]="propertyName" class="input-text" placeholder="Nombre de la propiedad" required>
            <textarea [(ngModel)]="propertyDescription" class="input-text" placeholder="Descripción"></textarea>
            <button type="submit" class="primary">Guardar</button>
        </form>
    </div>
</main>
